.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 20rem;
}

.paper {
  padding: 2.5rem 2rem;
}

/* Media Queries */
@media (min-width: 720px) {
  .form {
    width: 30rem;
  }
}
